env
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAEurUD_AXItmraWSR0h2iJu…
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studio‑2568172853‑c49aa.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio‑2568172853‑c49aa
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=studio‑2568172853‑c49aa.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=546183142451
NEXT_PUBLIC_FIREBASE_APP_ID=1:546183142451:web:7f64c703224062e9855746
var admin = require("firebase-admin");

var serviceAccount = require("path/to/serviceAccountKey.json");

admin.initializeApp({
  credential: admin.credential.cert(serviceAccount)
});




